<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre de usuario"
            formControlName="nombre"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="email del usuario"
            formControlName="email"
          />
          <span class="form-text text-danger" *ngIf="emailRequired()">
            este campo es obligatorio
          </span>
          <span class="form-text text-danger" *ngIf="emailFormato()">
            El correo ingresado no tiene un formato correcto
          </span>
          <span class="form-text text-danger" *ngIf="emailTomado()">
            intente con otro correo ese correo ya existe en nuestro sistema
          </span>
        </div>
      </div>
      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="username del usuario"
            formControlName="username"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('username')">
            el username es obligatorio, no puede ser strider
          </span>
        </div>
      </div>
      <!-- password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="contrasena del usuario"
            formControlName="password"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            el password debe de ser mayor de 6 caracteres
          </span>
        </div>
      </div>
      <!-- confirmar password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="confirmar la contrasena"
            formControlName="password2"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('password2')">
            las password deben de ser iguales
          </span> 
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.pending">
            Registrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid : {{ miFormulario.valid | json }}</h2>
<h2>Form status: {{ miFormulario.status | json }}</h2>
<h2>Form Errors</h2>
<pre>{{miFormulario.errors|json}}</pre>
<h6>Nombre</h6>
<pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>
<h6>Email</h6>
<pre>{{ miFormulario.controls["email"].errors | json }}</pre>
<h6>UserName</h6>
<pre>{{ miFormulario.controls["username"].errors | json }}</pre>
<h6>password</h6>
<pre>{{ miFormulario.controls["password"].errors | json }}</pre>
<h6>confirmacion</h6>
<pre>{{ miFormulario.controls["password2"].errors | json }}</pre>
